{% extends "base.html" %}
{% block title %}Вопросы{% endblock %}
{% block content %}
{% if latest_question_list %}

<div class="d-flex justify-content-center align-items-center ">
    {% for question in latest_question_list %}
    {% if question.pub_date < question.life_time %}
    <div class="card mb-5">
        <img src="{{ question.img.url }}" alt="..." height="300px">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></h5>
            <p class="card-text">Описание: {{ question.description }}</p>
            <p> Активен до {{ question.life_time }} </p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>
        Нет вопросов!
    </p>
</div>
{% endif %}
{% endblock %}